body {
    background-color: #3EA8E5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    display: flex;
}

.temp-alert {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, cursive, sans-serif;
    font-size: 12px;
}

.logo {
    height: 70px;
    width:  70px;
    display: flex;
    float: left;
}

#main-text {
    color: white;
    font-weight: bold;
    font-size: 4rem;
    font-family: 'Indie Flower', cursive;
}

#players {
    color: white;
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    font-family: 'Indie Flower', cursive;
    margin-top: -50px;

}

#img-container {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.dices{
    height: 80px;
    width:  80px;
}

#rizzzle {
    color: white;
    margin-top: 40px;
    text-size: 1em;
}

/*MEDIA QUERY FOR SCREEN WIDTH LESS THAN 640PX */
@media (max-width: 640px){
 #img-container{
     flex-direction: column;
     gap: 50px;
 }

 .temp-alert {
     color: white;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, cursive, sans-serif;
     font-size: 5px;
     visibility: hidden;
 }


.logo {
    height: 50px;
    width:  50px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
}


#players {
    color: white;
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    float: left;
    margin-right: 50px;
}

.img-1{
  margin-top: -10px;
  padding-top: -15em;
}

#main-text {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Indie Flower', cursive;
}

}