option_settings:
  aws:autoscaling:trigger:
    LowerThreshold: 30
    UpperThreshold: 60
    MeasureName: CPUUtilization
    Unit: Percent
    Period: 5
    BreachDuration: 2
    Statistic: Average


% 4. infrastructure/aws/elastic-beanstalk/.ebextensions/02_autoscaling.config
% Custom Changes:
% Scaling Thresholds: Adjust the LowerThreshold and UpperThreshold values based on your application's load requirements.
